<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<html>
  <div style="font-family: 'Open Sans', sans-serif;">
    {{{ body }}}
    {{> footer }}
  </div>
</html>
